@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: url('../img/game.jpg') no-repeat center center;
  background-size: cover;
}

section {
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr;
}

.d-none {
  display: none;
}

.btn {
  background: #333347;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
}

form .btn {
  width: 100px;
  padding: 10px;
  align-self: flex-end;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.btn:hover {
  background: #fff;
  border-radius: 2px;
  color: #333347;
  cursor: pointer;
  border: 2px solid #333347;
}

.score-display {
  border: 2px solid #7d6a6a;
  margin-top: 20px;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

::-webkit-scrollbar {
  display: none;
}

section .container {
  display: flex;
  gap: 100px;
}

.score-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.score-container h1 {
  font-size: 40px;
  font-weight: 570;
  color: #22223ce1;
}

.score-container .title {
  display: flex;
  gap: 40px;
}

form input {
  padding: 15px;
  width: 100%;
}

.title .btn {
  height: 40px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
}

.score-display ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  gap: 20px;
  padding: 5px 10px;
  font-size: 16px;
}

li p {
  color: #22223ce1;
}

li:hover {
  background: rgb(228, 224, 224);
}

li:nth-child(even) {
  background: #bcbcc1e1;
  color: #fff;
}

section .form-container {
  margin-top: 40px;
  width: 500px;
  position: relative;
}

section h2 {
  font-size: 20px;
  color: #22223ce1;
  font-weight: 400;
}

section form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
