@media only screen and (max-width: 991px) {
  h1 h2 {
    margin: 2px;
  }

  .score-container h1 {
    font-size: 20px;
    font-weight: 570;
    color: #333;
    text-align: center;
  }

  section h2 {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    text-align: center;
  }

  .score-container .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .score-container {
    display: flex;
    width: 300px;
    margin: 0 auto;
  }

  li {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }

  section .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-width: 400px;
  }

  section .form-container {
    width: 300px;
    margin: 20px auto;
  }

  section form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title .btn {
    height: 40px;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    width: 100px;
    margin: 5px auto;
  }

  .message p {
    text-align: center;
  }

  .error {
    font-size: 12px;
  }
}
